---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18.5px/1.4 $sourceSerifPro;
  color: $darkerGray;

  @include mobile {
    font: 18px/1.4 $sourceSerifPro;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sourceSerifProBold;
  line-height: 1.5;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
    &:hover, &:active {
      color: $gray;
    }
  }
}

h2 {
  font-size: 130%;
  margin-top: 2.25em;
}

h3 {
  font-size: 110%;
  margin-top: 1.75em;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover, &:active {
    color: $darkBlue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-family: $sourceSerifProItalic;
}

strong, b {
  font-family: $sourceSerifProBold;
}

hr.textSeparator {
  width: 80%;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  height: 1px;
  border: none;
  background-color: $gray;
}

hr.afterPost {
  height: 1px;
  border: none;
  margin-bottom: 1em;
  background-color: $gray;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $sourceSerifProBold;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;

    a {
	  text-decoration: none;
      &:hover, &:active {
      color: $gray;
      }
	}
}

.site-description {
  margin: -5px 0 0 0;
  color: $darkGray;
  font-size: 18.5px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $sourceSerifPro;
  font-size: 19.5px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $black;
	text-decoration: none;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
	cursor: pointer;
    &:hover, &:active {
      color: $gray;
    }
    @include mobile {
      margin: 0 10px;
      color: $black;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}


.post {
  blockquote {
    margin: 1.5em 2em;
	font-size: 95%;
	line-height: 1.35;
  }

  .read-more {
	color: inherit;
    text-transform: uppercase;
    font-size: 15px;
    &:hover, &:active {
      color: $gray;
    }
  }

  .comments {
    margin-top: 10px;
  }

  figcaption {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 90%;
  }

  .post-footer {
	 padding-top: 1.5em;
  }
}

.wrapper-footer {
  margin-top: 40px;
  // border-top: 1px solid #ddd;
  // border-bottom: 1px solid #ddd;
  background-color: $white;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
