
//
// VARIABLES
//

// Colors
$blue: #2A5DB0;
$darkBlue: #193767;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ccc;
$lighterGray: #eee;
$white: #fff;

// Font stacks

@font-face {
  font-family: "sourceSerifPro";
  src: url("/fonts/sourceserifpro-regular.woff") format("woff");
  }

@font-face {
  font-family: "sourceSerifProBold";
  src: url("/fonts/sourceserifpro-bold.woff") format("woff");
  }

@font-face {
  font-family: "sourceSerifProItalic";
  src: url("/fonts/sourceserifpro-italic.woff") format("woff");
  }

@font-face {
  font-family: "charter";
  src: url("/fonts/charter-regular.woff") format("woff");
  }

@font-face {
  font-family: "charterBold";
  src: url("/fonts/charter-bold.woff") format("woff");
  }

@font-face {
  font-family: "charterItalic";
  src: url("/fonts/charter-italic.woff") format("woff");
  }

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$sourceSerifPro: sourceSerifPro, Georgia, serif;
$sourceSerifProBold: sourceSerifProBold, Georgia, serif;
$sourceSerifProItalic: sourceSerifProItalic;
$charter: charter;
$charterBold: charterBold;
$charterItalic: charterItalic;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
