<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blogg</a>
            <a href="http://eepurl.com/dKMp0w">Prenumerera</a>
            <a href="{{ site.baseurl }}/ommig">Om mig</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
		{% assign content = content | split: '<pre' %}
		
		{% for parts in content %}
		
		  {% assign part = parts | split: '</pre>' %}
		  {% assign c = part.first %}
		  {% assign t = part.last %}
		
		  {% assign t = t | replace: '“', '”' 
		  				  | replace: '‘', '’' %}
		
		  {% if part.size == 2 %}
		
		    {% capture output %}{{ output }}<pre{{ c }}</pre>{% endcapture %}
		
		  {% endif %}
		
		  {% capture output %}{{ output }}{{ t }}{% endcapture %}
		
		{% endfor %}
		{{ output }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
			<!-- {% include svg-icons.html %} -->
        </footer>
      </div>
	</div>

	<!-- {% include analytics.html %} -->

  </body>
</html>
